@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --background-color: #f8f8f2;
  --text-color: #212529;
  --navbar-resume-btn-bg: rgba(0, 0, 0, 0.1);
  --resaltar-color: #4c93a7;

  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: rgba(255, 255, 255, 0.95);
  --shadows: black;
}
/* celeste: #4C93A7   mas claro #a0dbec*/

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-transition: background-color 150ms ease-out !important;
  transition: background-color 150ms ease-out !important;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body.day-background {
  --background-color: #212529;
  --text-color: #f8f8f2;
  --navbar-resume-btn-bg: rgba(255, 255, 255, 0.2);
  --navbar-bg-contrast: rgba(33, 37, 41, 0.95);
}

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  background: transparent;
  border: none;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  font-weight: 800;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  padding-left: 50px;
  border-radius: 5px;
}

#navbar {
  --navbar-height: 64px;
  height: var(--navbar-height);
  left: 0;
  right: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  font-weight: 800;
  font-size: 20px;
  align-items: center;
  transition: all 500ms;
}

.home-link {
  font-size: 24px;
  margin-top: 0.4em;
}

.home-link:is(:focus, :hover) {
  font-size: 25px;
  text-shadow: 2px 2px 5px var(--navbar-resume-btn-bg);
}

.resume-li {
  padding: 0.4em 1em;
}

.resume-link {
  border: none;
  transition: all 0.3s ease-in-out 0s;
  font-size: 16px;
  font-weight: 1000;
}

.resume-link:is(:focus, :hover) {
  background-color: var(--navbar-resume-btn-bg);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link-text {
  position: relative;
}

.navbar-link-text:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--resaltar-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-link-text:hover:after {
  visibility: visible;
  transform: scaleX(1);
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--text-color);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: var(--navbar-bg-contrast);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

.presentation-container {
  margin: 2rem 0px;
  text-align: center;
}

.presentation-titles {
  margin: 5px;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  font-weight: 800;
}

.social-link-btn {
  background: transparent;
  border-radius: 1rem;
  border: 0.125rem solid var(--text-color);
  transition: all 0.3s ease-in-out 0s;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  padding: 0.4em 0.6em;
  border-radius: 5px;
  margin: 10px;
}

.social-btn-container {
  padding-top: 40px;
}

.social-link-btn:is(:focus, :hover) {
  cursor: pointer;
  background-color: var(--navbar-resume-btn-bg);
}

.aboutme-text {
  font-size: 18px;
}

.timeline-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  align-content: start;
  justify-content: center;
  height: 100%;
}

.timeline-svg {
  display: block;
}

.timeline-text {
  fill: var(--text-color);
  font-size: 15px;
  font-weight: 500;
}

.circle {
  stroke: var(--resaltar-color);
  fill: var(--background-color);
}

.line {
  stroke: var(--text-color);
}

.avatar-container {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 1em;
  text-align: left;
}

.headers-container {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 6rem;
  text-align: left;
}
.image-container {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
}

.skills-container-wrapper {
  margin-top: 4rem;
  text-align: center;
}

.skills-container {
  margin-left: 2em;
  margin-right: 2em;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.skillpill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  margin: 3px 3px;
  border: 1px solid var(--text-color);
  border-radius: 50px;
  font-size: 20px;
  width: 200px;
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

.skillpill i {
  margin-right: 5px;
}

.skillpill:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.table-header {
  font-size: 30px;
  font-weight: 800;
}

.projects-container-wrapper h2 {
  margin-top: 4rem;
}

.projects-container {
  display: grid;
  box-sizing: border-box;
  max-width: 62.5rem;
  flex-direction: row;
}

.project-container-right {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.project-container-left {
  display: flex;
  flex-direction: column-reverse;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.project-details {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.project-text {
  font-size: 18px;
  padding-right: 30px;
  box-sizing: border-box;
}

.project-image-container-right {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 30rem;
  height: 15rem;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 2.5rem;
}

.project-image-container-left {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 30rem;
  height: 15rem;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 2.5rem;
}

.project-image-wraper {
  margin-bottom: 10px;
}

.myjourney-container {
  font-size: 18px;
}

.project-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.project-link {
  display: block;
  text-align: center;
  padding: 10px 0;
  border: 1px solid var(--text-color);
  border-radius: 50px;
  font-size: 20px;
  color: var(--text-color);
  text-decoration: none;
  max-width: 300px;
}

.project-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-container {
  width: 100%;
  padding-top: 150px;
}

.footer-content {
  background-color: var(--background-color);
  height: 120px;
  width: 100%;
}

.color-celeste {
  color: var(--resaltar-color);
}

.resaltar {
  color: var(--resaltar-color);
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .timeline-container {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .presentation-container {
    margin: 8rem 0px;
  }

  .resume-link {
    border-radius: 1rem;
    border: 1px solid var(--text-color);
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-button {
    padding: 0.4rem 0.8rem;
    padding-left: 100px;
  }

  .skills-container {
    margin-left: 8rem;
    margin-right: 8rem;
    max-width: 800px;
  }

  .project-container-left {
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 1;
    max-width: 62.5rem;
    margin-bottom: 10rem;
    padding-right: 0px;
    flex-direction: row;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .project-container-right {
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 1;
    max-width: 62.5rem;
    margin-bottom: 10rem;
    padding-right: 0px;
    flex-direction: row;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .skillpill {
    margin: 3px 10px;
    font-size: 20px;
    width: 300px;

  }
  .headers-container {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding: 1rem;
    padding-left: 3rem;
    text-align: left;
  }
}
